@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat500";
    src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Regular-400.woff) format("woff");
    font-weight: 400;
    font-display: swap;
}

.container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    position: fixed;
    padding-top: 40px;
    width: 100%;
}

.header--bg {
    background-color: #FEFEFB;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__main {
    display: flex;
    gap: 80px;
}

.header__logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #FDB100;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__nav-item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #9196A1;
    list-style-type: none;

    width: 100%;
}

.header__nav-link {
    text-decoration: none;
    color: #9196A1;
}

.header__nav-link:hover {
    color: #3A3C41;
}

.header__auth-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FDB100;
}

.header__auth-link::before {
    content: url(../img/ic_login.svg);
    margin-right: 14px;
}

.add-recipe {
    height: 800px;
    background-image: url(../img/img_main.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-top: 211px;
}

.add-recipe__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;;
    font-size: 72px;
    color: #25292D;
    text-align: left;
    width: 50%;
}

.add-recipe__desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #4A525A;
    padding-top: 15px;
    padding-bottom: 40px;
    text-align: left;
    width: 50%;
    padding-top: 16px;
}

.add-recipe__buttons {
    max-width: 500px;
    display: block;
}

.add-recipe__button-add {
    position: absolute;
    background-color: #FDB100;
    color: #fff;
    border: none; 
    border-radius: 16px; 
    min-height: 60px; 
    min-width: 278px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-right: 24px;
}

.add-recipe__button-auth {
    position: absolute;
    background-color: white;
    color: #FDB100;
    border: 1px solid #FDB100; 
    border-radius: 16px; 
    min-height: 60px; 
    min-width: 216px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-left: 302px;
}

.tags {
    padding-top: 113px;
}

.tags__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #25292D;
}

.tags__desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #4A525A;
    padding-top: 16px;
    width: 700px;
}

.tags__list {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding-top: 42px;
    list-style: none;
    gap: 29px;
    /* flex-direction: column; */
}

.tags__item {
    max-width: 278px;
    width: 100%;
    /* min-height: 271px; */
    background-color: white;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    padding: 24px;
    padding-bottom: 32px;
    /* margin-right: 29px; */
}

.tags__item-img {
    padding-bottom: 24px;
}

.tags__item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #25292D;
    padding-bottom: 16px;
}

.tags__item-desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #4A525A;
    max-width: 230px;
    line-height: 30px;
}

.recipe-of-day__author-img {
    position: relative;
	width: 100%;
}

.recipe-of-day__author-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FDB100;
    background-color: #FFFFFF;
    padding: 4px 16px;

    position: absolute;
	top: 435px;
	left: 0;
}

.recipe-of-day {
    display: flex;
    gap: 73px;
    padding-top: 157px;
}


/* .recipe-of-day__box-text::before {
    content: url(../img/ic_recipe_of_day.svg);
} */

.recipe-of-day__box-img {
    display: flex;
    justify-content: space-between;

}

.recipe-of-day__box-img-count {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.recipe-of-day__box-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    color: #25292D;
    padding-top: 32px;
}

.recipe-of-day__box-desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #4A525A;
    padding-top: 16px;
}

.recipe-of-day__box-fav {
    display: flex;
}

.recipe-of-day__box-fav-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #25292D;
    padding-left: 9px;
}

/* .recipe-of-day__box-fav-text::before {
    content: url(../img/ic_fav.svg);
} */

.recipe-of-day__box-times {
    display: flex;
    gap: 9px;
}
.recipe-of-day__box-times-img {
    width: 28px;
    height: 28px;
}

.recipe-of-day__box-times-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #25292D;
    width: 78px;

}

/* .recipe-of-day__box-times-text::before {
    content: url(../img/ic_timer.svg);
} */

.search {
    padding-top: 150px;
}

.search__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    
    color: #25292D;
}

.search__desc {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding-top: 16px;

    text-align: center;
    font-feature-settings: 'case' on;

    color: #4A525A;
}

.search__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 64px;
}

.search__box-input {
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 894px;
    margin: 0 auto;
}

.search__input {
    height: 73px; 
    width: 716px;
    background: white;
    border: none;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-radius: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:  #808080;
    padding-left: 32px;
}

.search__button {
    /* position: absolute; */
    background-color: #FDB100;
    color: #fff;
    border: none; 
    border-radius: 16px; 
    min-height: 73px; 
    min-width: 152px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.search__list {
    display: flex;
    gap: 10px;
    padding-top: 24px;
    padding-bottom: 106px;
    width: 100%;
    /* list-style: none; */
}

.search__list-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #808080;
}

.footer {
    background-color: #FBF9F4;
    padding: 40px 0;
}

.footer_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FDB100;
}

.footer__copyright {
    font-family: 'Montserrat500';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #4A525A;
}