@font-face {
    font-family: "Montserrat700";
    src: url(../fonts/Montserrat-Bold-700.woff) format("woff");
}

@font-face {
    font-family: "Montserrat500";
    src: url(../fonts/Montserrat-Medium-500.woff) format("woff");
}

@font-face {
    font-family: "Montserrat400";
    src: url(../fonts/Montserrat-Regular-400.woff) format("woff");
}

@font-face {
    font-family: "Montserrat600";
    src: url(../fonts/Montserrat-SemiBold-600.woff) format("woff");
}

@font-face {
    font-family: "Mulish400";
    src: url(../fonts/Mulish-Regular-400.woff) format("woff");
}

.header {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
}

.header__logo {
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #FDB100;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 565px;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    width: 344px;
    height: 22px;
}

.header__nav-item {
    font-family: 'Montserrat400';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #9196A1;
    list-style-type: none;
    width: 100%;
}

.header__nav-link {
    text-decoration: none;
    color: #9196A1;
}

.header__nav-link:hover {
    color: #3A3C41;
}

.header__auth {
    display: flex;
    height: 38px;
    max-width: 112px;
    align-items: center;
    justify-content: flex-end;
}

.header__auth-link {
    font-family: 'Montserrat600';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FDB100;
    margin-left: 14px;
}

.add-recipe {
    max-width: 1440px;
    height: 800px;
    padding-left: 120px;
}

.add-recipe__title {
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #25292D;
    text-align: left;
}

.add-recipe__desc {
    font-family: 'Montserrat400';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4A525A;
    padding-top: 15px;
    padding-bottom: 40px;
    text-align: left;
}

.add-recipe__buttons {
    max-width: 500px;
    display: block;
}

.add-recipe__button-add {
    position: absolute;
    background-color: #FDB100;
    color: #fff;
    border: none; 
    border-radius: 16px; 
    min-height: 60px; 
    min-width: 278px;
    font-family: 'Montserrat600';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-right: 24px;
}

.add-recipe__button-auth {
    position: absolute;
    background-color: white;
    color: #FDB100;
    border: 1px solid #FDB100; 
    border-radius: 16px; 
    min-height: 60px; 
    min-width: 216px;
    font-family: 'Montserrat600';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-left: 302px;
}

.tags {
    display: inline-block;
    padding-top: 113px;
    padding-left: 120px;
    padding-right: 120px;
}

.tags__title {
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: #25292D;
}

.tags__desc {
    font-family: 'Montserrat400';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4A525A;
}

.tags__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
}

.tags__item {
    min-width: 278px;
    min-height: 271px;
    background-color: white;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    padding: 24px;
    padding-bottom: 32px;
    margin-right: 29px;
}

.tags__item-title {
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #25292D;
}

.tags__item-desc {
    font-family: 'Montserrat400';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4A525A;
    max-width: 230px;
    line-height: 30px;
}

.recipe-of-day__author-link {
    font-family: 'Montserrat600';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FDB100;
}

.recipe-of-day__box-title {
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: #25292D;
}

.recipe-of-day__box-desc {
    font-family: 'Montserrat400';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4A525A;
}

.recipe-of-day__box-fav-text {
    font-family: 'Montserrat400';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #25292D;
}

.recipe-of-day__box-times-text {
    font-family: 'Montserrat400';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #25292D;
}

.search__title {
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: #25292D;
}

.search__desc {
    font-family: 'Mulish400';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4A525A;
}

.search__box-input {
    min-height: 73px; 
    min-width: 278px;
    background: white;
    border: none;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-radius: 16px;
    margin-right: 16px;
    font-family: 'Montserrat400';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color:  #808080;
}

.search__box-button {
    position: absolute;
    background-color: #FDB100;
    color: #fff;
    border: none; 
    border-radius: 16px; 
    min-height: 73px; 
    min-width: 152px;
    font-family: 'Montserrat600';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.search__list-link {
    font-family: 'Montserrat400';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #808080;
}

.footer {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;
}

.footer__logo {
    font-family: 'Montserrat700';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #FDB100;
}

.footer__copypast {
    font-family: 'Montserrat500';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #4A525A;
}